<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>
​
  <body>
​
    <header>
      <%- include ../partials/nav %>
    </header>

    <div id="MainContainer">
      <div id="WorkRender">
        <img src =<%= workToRender[0].imgurl %>>
        <p> <%= renderComment[0].commentcontent %> </p>
      </div>

      <div>
        <form method="post" action="/users/logout?_method=DELETE">
          <button>logout</button>
        </form>
      </div>
    </div>

    <form method='post'>
      Comment:<br />
    <textarea name='comment' id='comment'></textarea><br />
    <input type='hidden' name='userID' id='userID' value= "idgohere" />
    <input type='submit' value='Submit' />
  </form>

      <%- include ../partials/footer %>
  </body>
</html>
