<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>
​
  <body>
​
    <header>
      <%- include ../partials/nav %>
    </header><br /><br />

<!-- <p>users name: <%= user.name %></p> -->


        <img src =<%= workToRender[0].imgurl %>><br />
        <div id="ImageContainer"><% renderComment.forEach(function(comment) { %>
          <p id = <%= comment.id %>><%= comment.name %> : <%= comment.commentcontent %>

              <% if (comment.name === user.name) { %>
              <a href= "/comment/<%= comment.id %>/edit"> edit </a>
                <form method="post" action="/comment/<%=comment.id%>?_method=DELETE">
                  <button>delete</button>
                </form>
              <% } %>

          </p>
          <% }) %>
        </div>

    <form method='post'>
      Comment:<br />
    <textarea name='comment' id='comment'></textarea><br />
    <input type='hidden' name='commentID' id='commentID' value= "idgohere" />
    <input type='submit' value='Submit' />
  </form>

      <%- include ../partials/footer %>
  </body>
</html>
