<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>
​
  <body>
​
    <header>
      <%- include ../partials/nav %>
    </header>
  <div id="ProfileHeading">
    <div id="ProfilePicture">
      <img src=<%= user.img_url %>>
      <h2 id= "UserName"><%= user.name %></h2>
    </div>
  </div>

  <% if (user) {%>
  <div id="ImageContainer"><% artistsWorks.forEach(function(work) { %>
      <a href="/work/<%= work.id %>"><img src =<%= work.imgurl %>></a>
    <% }) %>
  </div>
  <% } %>
  <h3><a href="/group/">Check on the other <%= user.groupname %></a></h3>
  <div>
    <form method="post" action="/users/logout?_method=DELETE">
      <button>logout</button>
    </form>
  </div>

  <%- include ../partials/footer %>
</body>
</html>
